In [2]:
from yahoo_fin.stock_info import *
df_CNYPA = get_data('CNY.PA')
print(df_CNYPA)

              open    high     low   close  adjclose   volume  ticker
2011-01-28  6.6166  6.6166  6.6166  6.6166    6.6166      0.0  CNY.PA
2011-01-31  6.5962  6.5962  6.5962  6.5962    6.5962      0.0  CNY.PA
2011-02-01  6.6031  6.6031  6.6031  6.6031    6.6031      0.0  CNY.PA
2011-02-02     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2011-02-03     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
...            ...     ...     ...     ...       ...      ...     ...
2021-09-20     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2021-09-21     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2021-09-22     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2021-09-23     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2021-09-24  7.6500  7.6660  7.5800  7.6000    7.6000  52903.0  CNY.PA

[2726 rows x 7 columns]

In [4]:
1+1

2

In [3]:
df_CNYPA

              open    high     low   close  adjclose   volume  ticker
2011-01-28  6.6166  6.6166  6.6166  6.6166    6.6166      0.0  CNY.PA
2011-01-31  6.5962  6.5962  6.5962  6.5962    6.5962      0.0  CNY.PA
2011-02-01  6.6031  6.6031  6.6031  6.6031    6.6031      0.0  CNY.PA
2011-02-02     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2011-02-03     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
...            ...     ...     ...     ...       ...      ...     ...
2021-09-20     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2021-09-21     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2021-09-22     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2021-09-23     NaN     NaN     NaN     NaN       NaN      NaN  CNY.PA
2021-09-24  7.6500  7.6660  7.5800  7.6000    7.6000  52903.0  CNY.PA

[2726 rows x 7 columns]